body {
  background: #849d8f;
  font: 16px/22px 'Roboto', sans-serif;
  color: #fff;
}


.page-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.slide__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.topping__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}
