.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


body {
  background-color: #849d8f;
  font: 16px/22px 'Roboto', sans-serif;
  color: #fff;
}


.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
  .container__inner {
    padding: 0 2.25%;
  }


.tiles {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
  .tiles__item {
    flex-grow: 0;
    flex-shrink: 0;
  }


  .tiles_columns_2 > .tiles__item {
    flex-basis: 48.84%;
    margin-left: 2.32%;
  }

  .tiles_columns_2 > .tiles__item:nth-child(2n+1) {
    margin-left: 0;
  }


  .tiles_columns_4 > .tiles__item {
    flex-basis: 23.26%;
    margin-left: 2.32%;
  }

  .tiles_columns_4 > .tiles__item_colspan_2 {
    flex-basis: 48.84%; /* 23.26% + 2.32% + 23.26% */
  }

  .tiles_columns_4 > .tiles__item:nth-child(4n+1) {
    margin-left: 0;
  }

.button {
  border: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 23px;
  background: linear-gradient(#f26843, #ca3824);
  box-shadow: 0 2px 2px rgba(85,8,0,.54);
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.button:hover {
  background: linear-gradient(#f26843, #e74a35);
  box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  outline: none;
  background: linear-gradient(#f26843, #e74a35);
  box-shadow: inset 0 2px 2px #942718;
}


.button_block {
  width: 100%;
}


.button_primary {
  height: 63px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 63px;
  border-radius: 31px;
  font-size: 32px;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
}

.button_secondary {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 16px/23px;
}


.button_filter {
  height: 36px;
  line-height: 36px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: inset 0 0 0 2px #fff;
  background: rgba(255,255,255,.2);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.button_filter:hover {
  border-color: transparent;
  background: #fff;
  box-shadow: none;
  color: #323232;
}

.button_filter:active {
  border-color: transparent;
  background: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
  color: #323232;
}


.input {
  position: relative;
}

  .input__control {
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 13px;
    background: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
  }

  .input__control[type="search"] {
    box-sizing: border-box;
  }

  .input__control:hover {
    border-width: 2px;
    border-color: #c7c6c5;
    padding: 0 12px;
  }

  .input__control:focus {
    outline: none;
    border-width: 2px;
    border-color: #8fbdec;
    padding: 0 12px;
  }

  .input_fill .input__control {
    font-weight: bold;
  }


  .input__control::-webkit-input-placeholder { font-style: normal; opacity: 1; color: #999; }
  .input__control::-moz-placeholder          { font-style: normal; opacity: 1; color: #999; }
  .input__control:-ms-input-placeholder      { font-style: normal; opacity: 1; color: #999; }


  .input__control:focus::-webkit-input-placeholder { color: transparent; }
  .input__control:focus::-moz-placeholder          { color: transparent; }
  .input__control:focus:-ms-input-placeholder      { color: transparent; }


  .input__placeholder {
    position: absolute;
    left: 14px;
    bottom: 100%;
    margin-bottom: 2px;
    font-size: 11px;
    line-height: 13px;
    color: #999;

    display: none;
  }

  .input__control:focus ~ .input__placeholder {
    display: block;
    color: #5b9ddf;
  }

  .input_fill .input__placeholder {
    display: block;
  }






.choice {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}

.choice_widget_check {

}

.choice_widget_radio {

}

  .choice__control {
    opacity: 0;
    position: absolute;
    left: 1px;
    top: 1px;
  }

  .choice__icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
  }

  .choice:hover .choice__icon {
    width: 16px;
    height: 16px;
    border-width: 2px;
  }

  .choice__label {
    display: block;
    padding: 0 0 0 28px;
  }


  .choice__control:disabled + .choice__icon,
  .choice__control:disabled ~ .choice__label {
    opacity: .2;
    cursor: default;
  }

  .choice:hover .choice__control:disabled + .choice__icon {
    width: 18px;
    height: 18px;
    border-width: 1px;
  }




/* checkbox */

.choice_type_check .choice__icon {
  border-radius: 4px;
}

.choice_type_check .choice__control:checked + .choice__icon:before,
.choice_type_check .choice__control:checked + .choice__icon:after {
  content: '';
  display: block;
  position: absolute;
  background: #fff;
}

.choice_type_check .choice__control:checked + .choice__icon:before {
  left: 50%;
  top: 50%;
  margin: -5px 0 0 1px;
  width: 2px;
  height: 11px;
  transform: rotate(45deg);
}

.choice_type_check .choice__control:checked + .choice__icon:after {
  left: 50%;
  top: 50%;
  margin: 1px 0 0 -6px;
  width: 6px;
  height: 2px;
  transform: rotate(45deg);
}


/* radio */

.choice_type_radio .choice__icon {
  border-radius: 50%;
}

.choice_type_radio .choice__control:checked + .choice__icon {
  width: 18px;
  height: 18px;
  border-width: 1px;
  cursor: default;
}

.choice_type_radio .choice__control:checked ~ .choice__label {
  cursor: default;
}


.choice_type_radio .choice__control:checked + .choice__icon:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}


.select   {
  -webkit-appearance: none;
     -moz-appearance: none;
  border: none;
  height: 36px;
  padding: 0 40px 0 14px;
  background: rgba(255,255,255,.2) url(../img/select.svg) no-repeat right 15px center;
  border-radius: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}


.checklist {
  height: 20px;
  padding: 8px 14px;
  background: rgba(255,255,255,.2);
  border-radius: 18px;
}

  .checklist .choice {
    margin-left: 14px;
  }

  .checklist .choice:first-child {
    margin-left: 0;
  }


.header {

}

  .header .logo {
    float: left;
    margin: 9px 0 0 -5px;
  }

  .header .nav {

  }

  .header__actions {
    float: right;
    margin-top: 23px;
    width: 280px;
    font-size: 0;
    text-align: right;
  }


.logo {
  display: block;
  width: 154px;
  height: 64px;
}
  .logo img {
    vertical-align: top;
  }


.nav {
  float: left;
  width: 400px;
  margin: 17px 0 0 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  white-space: nowrap;
}
  .nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
    .nav__item {
      margin: 0 0 0 2px;
      padding: 5px 0; /* subnav dropdown gap, must be able to hover this space */
      position: relative;
    }

    .nav__item:first-child {
      margin-left: 0;
    }
      .nav__link {
        color: inherit;
        display: block;
        padding: 5px 13px;
        border-radius: 16px;
      }

      .nav__link:hover {
        text-decoration: none;
        background-color: #f7f6f3;
        color: #333;
      }

      .nav__link:active {
        background-color: #ededed;
        box-shadow: inset 0 2px 1px #696969;
      }


      .nav__link_active,
      .nav__link_active:hover,
      .nav__link_active:active {
        box-shadow: none;
        background-color: #d07058;
        color: #fff;
        cursor: default;
      }

      .nav__item .subnav {
        position: absolute;
        z-index: 100;
        left: 0;
        top: 100%;
        margin: 0 0 0 -7px;
        display: none;
      }

      .nav__item:hover .subnav {
        display: block;
      }

.subnav {
  margin: 0;
  list-style: none;

  padding: 5px 0 8px;
  background: #f8f7f4;
  border-radius: 5px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}
  .subnav__item {
    margin-top: 3px;
  }

  .subnav__item:first-child {
    margin-top: 0;
  }

    .subnav__link {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 6px 20px;
    }

    .subnav__link:hover {
      background-color: #fbded7;
    }

    .subnav__link:active {
      background-color: #f6b5a5;
    }

    .subnav__link_highlight {
      margin-bottom: 9px;
      position: relative;
      font-weight: bold;
    }

    .subnav__link_highlight:after {
      content: '';
      display: block;
      pointer-events: none;
      position: absolute;
      left: 7px;
      right: 7px;
      bottom: -5px;
      height: 1px;
      background: #d1d0ce;
    }

    .subnav__link_active,
    .subnav__link_active:hover,
    .subnav__link_active:active {
      background-color: #d07058;
      color: #fff;
      cursor: default;
    }



.search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
}
  .search__handler {
    width: 32px;
    height: 32px;
    background: rgba(255,255,255,.2) url(../img/search__handler.svg) no-repeat center center;
    border-radius: 50%;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .search:hover .search__handler {
    background-color: #f8f7f4;
    background-image: url(../img/search__handler_hover.svg);
  }

  .search__dropdown {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;
    padding-top: 4px;
    display: none;
  }

  .search:hover .search__dropdown {
    display: block;
  }
    .search__form {
      width: 311px;
      padding: 20px 15px;
      background: #f8f7f4;
      box-shadow: 0 20px 20px rgba(0,0,0,.4);
      border-radius: 5px;
    }



.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
}
  .login__handler {
    position: relative;
    padding: 0 15px 0 43px;
    height: 32px;
    line-height: 32px;
    background: rgba(255,255,255,.2);
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    cursor: default;
  }

  .login:hover .login__handler {
    background-color: #f8f7f4;
    color: #323232;
  }

    .login__handler:before {
      content: '';
      display: block;
      position: absolute;
      left: 14px;
      top: 6px;
      width: 21px;
      height: 19px;
      background: url(../img/login__handler.svg) no-repeat center center;
    }

    .login:hover .login__handler:before {
      background-image: url(../img/login__handler_hover.svg);
    }


  .login__dropdown {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;
    padding-top: 4px;
    display: none;
  }

  .login:hover .login__dropdown {
    display: block;
  }

    .login__form {
      width: 241px;
      padding: 20px 17px;
      background: #f8f7f4;
      box-shadow: 0 20px 20px rgba(0,0,0,.4);
      border-radius: 5px;
    }

      .login__form .input {
        margin-bottom: 20px;
      }

      .login__foot {
        display: flex;
        align-items: flex-start;
      }

        .login__foot .button {
          flex-shrink: 0;
          width: 100px;
        }

        .login__actions {
          margin: 3px 0 0 20px;
        }
          .login__actions a {
            display: block;
            margin-top: 5px;
            color: #323232;
          }

          .login__actions a:first-child {
            margin-top: 0;
          }

          .login__actions a:hover {
            text-decoration: none;
          }

.cart {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  text-align: left;
}

.cart_fill {

}
  .cart__handler {
    position: relative;
    padding: 0 15px 0 43px;
    min-width: 59px;
    height: 32px;
    line-height: 32px;
    background: rgba(255,255,255,.2);
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    cursor: default;
  }

  .cart_fill .cart__handler {

  }

  .cart_fill:hover .cart__handler {
    background-color: #f8f7f4;
    color: #323232;
  }



  .cart__handler:before {
    content: '';
    display: block;
    position: absolute;
    left: 14px;
    top: 6px;
    width: 21px;
    height: 20px;
    background: url(../img/cart__handler.svg) no-repeat center center;
  }

  .cart_fill .cart__handler:before {
    background-image: url(../img/cart__handler_fill.svg);
  }

  .cart_fill:hover .cart__handler:before {
    background-image: url(../img/cart__handler_fill_hover.svg);
  }


  .cart__dropdown {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;
    padding-top: 4px;
    display: none;
  }

  .cart_fill:hover .cart__dropdown {
    display: block;
  }

    .cart__body {
      width: 510px;
      padding: 20px 15px;
      background-color: #f8f7f4;
      box-shadow: 0 20px 20px rgba(0,0,0,.4);
      border-radius: 5px;
    }

    .cart__total {
      margin-top: 17px;
      border-top: 1px solid #cacac7;
      padding-top: 14px;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      text-align: right;
    }

    .cart__submit {
      margin-top: 14px;
      text-align: right;
    }

.purchase {
  display: flex;
  align-items: flex-start;
  padding-right: 16px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.purchase + .purchase {
  margin-top: 20px;
}

  .purchase .cancel {
    flex-shrink: 0;
    margin-right: 5px;
    margin-top: 5px;
  }

  .purchase__preview {
    flex-shrink: 0;
  }
    .purchase__preview img {
      vertical-align: top;
      border-radius: 50%;
    }

  .purchase__title {
    flex-grow: 1;
    margin-top: 8px;
    margin-left: 13px;
    text-decoration: none;
    color: inherit;
  }

  .purchase__amount {
    flex-shrink: 0;
    margin-top: 8px;
    margin-left: 30px;
    white-space: nowrap;
  }

  .purchase__total {
    flex-shrink: 0;
    margin-top: 8px;
    margin-left: 30px;
    white-space: nowrap;
  }


.cancel {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

  .cancel:before,
  .cancel:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    display: block;
    width: 14px;
    height: 1px;
    background: #3e3e3e;
  }

  .cancel:before {
    transform: rotate(45deg);
  }

  .cancel:after {
    transform: rotate(-45deg);
  }

.cost {
  color: #999;
}

.contacts-preview {
  margin-top: 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: right;
}
  .contacts-preview__working-hours {

  }

  .contacts-preview__call {
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
  }



.inner-page {
  margin-top: -20px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
  .breadcrumbs__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 21px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }

  .breadcrumbs__item:first-child {
    margin-left: 0;
  }

    .breadcrumbs__item:before {
      content: '»';
      position: absolute;
      right: 100%;
      top: 0;
      margin-right: 7px;
    }

    .breadcrumbs__item:first-child:before {
      display: none;
    }

    .breadcrumbs__link {
      color: inherit;
    }

    .breadcrumbs__link:hover {
      text-decoration: none;
    }

    .breadcrumbs__link_active {
      cursor: default;
    }


.page-title {
  margin: 1px 0 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #fff;
}


.footer {
  margin: 30px 0 0;
  border-top: 1px solid rgba(255,255,255, .3);
  padding: 20px 0;
}


.social {
  margin-top: 17px;
  font-size: 0;
}
  .social .web {
    margin-left: 14px;
  }

  .social .web:first-child {
    margin-left: 0;
  }

.web {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255,255,255,.5);
  border-radius: 50%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.web:hover {
  border-color: rgba(255,255,255,.7);
}

.web:active {
  border-color: rgba(255,255,255,.7);
  box-shadow: inset 0 1px 2px #888888;
}



.info-pages {
  margin: 15px 0 0;
  padding: 0 20px 0 0;
  list-style: none;
  font-size: 0;
}
  .info-pages__item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  .info-pages__item:nth-child(odd) {
    text-align: right;
    padding-right: 30px;
  }

  .info-pages__item_importance {
    font-weight: bold;
  }
    .info-pages__item a {
      position: relative;
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      line-height: 16px;
      color: #fff;
    }

    .info-pages__item a:hover {
      text-decoration: none;
    }

    .info-pages__item_importance a:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 1px;
      margin-right: 8px;
      display: block;
      width: 15px;
      height: 13px;
      background: url(../img/info-pages__item_importance.svg) no-repeat center center;
    }


.developer {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-align: right;
}
  .developer__inner {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
    .developer__logo {
      display: inline-block;
      vertical-align: top;
    }
      .developer__logo img {
        vertical-align: top;
      }

    .developer__description {
      margin-top: 5px;
    }
      .developer__description a {
        color: inherit;
      }

      .developer__description a:hover {
        text-decoration: none;
      }



.item-preview {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.item-preview:hover {
  z-index: 100;
}

  .item-preview__overlay {
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -77px;
    background: rgba(255,255,255,.3);
    border-radius: 5px;
    display: none;
  }

  .item-preview:hover .item-preview__overlay {
    display: block;
  }
    .item-preview__overlay .button {
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 17px;
    }

  .item-preview__container {
    position: relative;
  }

    .item-preview__stage {
      position: relative;
      display: block;
      text-decoration: none;
      color: inherit;
    }
      .item-preview__stage img {
        vertical-align: top;
        width: 100%;
        height: auto;
        border-radius: 50%;
      }

      .item-preview__price {
        display: block;
        position: absolute;
        left: 0;
        bottom: 7px;
        font-weight: bold;
        font-size: 45px;
        line-height: 45px;
        text-shadow: 0 1px 3px rgba(49,50,53,.5);
      }
        .item-preview__price .unit {
          font-size: 30px;
          line-height: 45px;
        }

        .item-preview__price .currency {
          margin-left: 4px;
        }

      .item-preview__hot {
        position: absolute;
        left: 0;
        top: 0;
        width: 61px;
        height: 61px;
        background: url(../img/item-preview_hot.png) no-repeat center center;
        border-radius: 50%;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }

  .item-preview__title {
    display: block;
    color: inherit;
    margin-top: 14px;
    font-weight: 500;
    text-align: center;
  }

  .item-preview__title:hover {
    text-decoration: none;
  }

.catalog-preview {
  margin-top: 40px;
}

.catalog {
  margin: 3px 0 80px;
}
  .catalog .tiles__item {
    margin-top: 38px;
  }

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: right;
}
  .pagination__item {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
  }

  .pagination__item:first-child {
    margin-left: 0;
  }

    .pagination__direction {

    }

    .pagination__link {
      display: block;
      text-decoration: none;
      min-width: 14px;
      padding: 0 6px;
      border-radius: 13px;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #fff;
    }

    .pagination__link:hover {
      background-color: rgba(255,255,255,.2);
    }

    .pagination__link_active,
    .pagination__link_active:hover {
      background-color: #fff;
      color: #323232;
      cursor: default;
    }


    .pagination__direction {
      position: relative;
      display: block;
      width: 22px;
      height: 26px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

    .pagination__direction:after {
      content: '';
      position: absolute;
      top: 8px;
      display: block;
      width: 8px;
      height: 8px;
      border-top: 2px solid rgba(255,255,255,.2);
      border-left: 2px solid rgba(255,255,255,.2);
    }

    .pagination__direction_prev:after {
      transform: rotate(-45deg);
      left: 3px;
    }

    .pagination__direction_next:after {
      transform: rotate(135deg);
      right: 3px;
    }

    .pagination__direction:hover:after {
      border-color: #fff;
    }

.params {
  margin-top: 10px;
}
  .params__tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

  }
    .params__item {
      margin: 16px 14px 0 0;
    }

    .params__item_no-label {
      padding-top: 22px;
    }
      .params__label {
        display: block;
        padding: 0 14px 6px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
      }



.range {

}
  .range__output {
    padding: 0 14px 6px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }
    .range__value {
      border: none;
      box-shadow: none;
      background: none;
      padding: 0;
      width: 30px;
      text-align: right;
      height: 16px;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
    }

  .range__widget {
    position: relative;
    width: 218px;
    height: 36px;
    background: rgba(255,255,255,.2);
    border-radius: 18px;
  }

    .range__track {
      position: absolute;
      left: 14px;
      right: 14px;
      top: 16px;
      height: 3px;
      background: rgba(255,255,255,.5);
    }

    .range__bar {
      position: absolute;
      top: 0;
      height: 3px;
      background: #fff;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

  .range__handler {
    position: absolute;
    top: -8px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    border-radius: 50%;
    cursor: pointer;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }


.checklist {

}

.slide__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.ingredients {
  margin-top: 41px;
}

.topping {
  padding: 16px 20px 23px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-align: right;
}

.topping_raspberry {
  background-image: url(../img/topping_raspberry.jpg);
}

.topping_chocolate {
  background-image: url(../img/topping_chocolate.jpg);
}

  .topping__title {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    text-align: left;
  }

  .topping__description {
    margin: 16px 0 43px;
    text-align: left;
  }

  .topping .button {

  }


.info {
  margin-top: 38px;
  padding: 24px 20px;
  background: url(../img/info.jpg) repeat left top;
  border-radius: 12px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}
  .info__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }
    .info .tiles__item {
      margin-top: 9px;
    }

.feature {
  position: relative;
  padding: 13px 0 0 56px;
}
  .feature:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .feature_delivery:before    { background-image: url(../img/feature_delivery.svg); }
  .feature_manufacture:before { background-image: url(../img/feature_manufacture.svg); }
  .feature_quality:before     { background-image: url(../img/feature_quality.svg); }
  .feature_supply:before      { background-image: url(../img/feature_supply.svg); }



.summary {
  margin-top: 40px;
}

.article-preview {
  display: block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  min-height: 177px;
  padding: 23px 220px 20px 20px;
  background: #fff;
  border-radius: 12px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;

}
  .article-preview img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
  }

  .article-preview__prefix {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  .article-preview__title {
    position: relative;
    margin: 4px 0 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    text-decoration: underline;
  }

  .article-preview:hover .article-preview__title {
    text-decoration: none;
  }


.subscribe {
  background: url(../img/subscribe.png) repeat left top;
  padding: 5px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}
  .subscribe__inner {
    min-height: 161px;
    padding: 29px 20px 20px;
    background: #f8f7f4;
    border-radius: 12px;
  }
    .subscribe__description {
      margin: 0 0 36px;
    }

    .subscribe__form {
      display: flex;
    }
      .subscribe__form .input {
        flex-grow: 1;
        margin-right: 12px;
      }


.path {
  margin-top: 40px;
  position: relative;
}

.map {

}

.bubble {
  padding: 28px 24px 30px;
  background: #fff;
  border-radius: 12px;
}

.path .bubble {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 254px;
  transform: translateY(-50%);
}

.path + .footer {
  margin-top: 0;
  border-top: none;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
  .contacts__address {

  }
    .contacts__address b {
      display: block;
      margin-top: 2px;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }

  .contacts__phone {
    margin: 17px 0 24px;
  }
    .contacts__phone a {
      text-decoration: none;
      display: block;
      margin: 5px 0 2px;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: inherit;
    }



/* slider related */

.index-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease,
              background-color 0.5s ease;
}

.index-wrapper:before,
.index-wrapper:after {
  content: "";
  visibility: hidden;
}

.index-wrapper:before,
.index-wrapper:after {
  background-image: url("../img/slider-01.png");
}

.index-wrapper:after {
  background-image: url("../img/slider-02.png");
}


.slider {
  position: relative;
  padding-top: 276px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

  .slide__title {
    width: 700px;
    margin: 0 auto 30px;
  }

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-left: 8px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .5s ease;
}

.slider-controls label:first-child {
  margin-left: 0;
}

.slider-controls label:hover {
  background-color: rgba(255,255,255,.4);
}

#slide-to-01,
#slide-to-02,
#slide-to-03 {
  display: none;
}

#slide-to-01:checked ~ .index-wrapper #slide1,
#slide-to-02:checked ~ .index-wrapper #slide2,
#slide-to-03:checked ~ .index-wrapper #slide3 {
  display: block;
}

#slide-to-01:checked ~ .index-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-03.png");
}

#slide-to-02:checked ~ .index-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-02.png");
}

#slide-to-03:checked ~ .index-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-01.png");
}

#slide-to-01:checked ~ .index-wrapper label[for="slide-to-01"],
#slide-to-02:checked ~ .index-wrapper label[for="slide-to-02"],
#slide-to-03:checked ~ .index-wrapper label[for="slide-to-03"] {
  background-color: #ffffff;
  cursor: default;
}
